<!doctype html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Loxone Weer</title>
    <meta name="viewport" content="width=600, initial-scale=1">
    <link rel="stylesheet" href="<!--$webpath-->/jquery/themes/LoxoneClassic.min.css" />
    <link rel="stylesheet" href="<!--$webpath-->/jquery/themes/jquery.mobile.icons.min.css" />
    <link rel="stylesheet" href="<!--$webpath-->/jquery/css/jquery.mobile.structure-1.4.5.min.css" />
    <script src="<!--$webpath-->/jquery/js/jquery-1.12.4.min.js"></script>
    <script src="<!--$webpath-->/jquery/js/jquery.mobile-1.4.5.min.js"></script>
</head>

<body>
    <!-- Start of first page: #Actueel -->
    <div data-role="page" id="start">
        <div data-role="header">
            <div data-role="navbar">
                <ul>
                    <li><a href="<!--$themeurlmain-->" data-transition="slide" style="font-size: 1em; line-height: 1.5em">Actueel</a></li>
                    <li><a href="<!--$themeurldfc-->" data-transition="slide" style="font-size: 1em; line-height: 1.5em">4 Dagen</a></li>
                    <li><a href="<!--$themeurlhfc-->" data-transition="slide" style="font-size: 1em; line-height: 1.5em">36 Uur</a></li>
                    <li><a href="#start" class="ui-btn-active ui-state-persist" style="font-size: 1em; line-height: 1.5em">Kaarten</a></li>
                </ul>
            </div>
            <!-- /navbar -->
        </div>
        <!-- /header -->

        <div role="main" class="ui-content">
            <div class="ui-body ui-body-a ui-corner-all">
                <div data-role="collapsible-set" data-collapsed-icon="arrow-r" data-expanded-icon="arrow-d">
                    <div data-role="collapsible" data-collapsed="false">
                        <h3>Nederland Actueel</h3>
                        <center>
                            <img src="https://cdn.knmi.nl/knmi/map/current/weather/forecast/kaart_verwachtingen_Vandaag_dag.gif" width="425" height="445">
                        </center>
                    </div>
                    <div data-role="collapsible">
                        <h3>Nederland Buienradar</h3>
                        <center>
                            <img src="https://cdn.knmi.nl/knmi/map/page/weer/actueel-weer/neerslagradar/WWWRADAR_loop.gif" width="425"  height="445">
                        </center>
                    </div>
                    <div data-role="collapsible">
                        <h3>Nederland Voorspelling Nacht/Morgen</h3>
                        <center>
                            <img src="https://cdn.knmi.nl/knmi/map/current/weather/forecast/kaart_verwachtingen_Morgen_nacht.gif" width="425"  height="445">
                            <br><br>

                            <img src="https://cdn.knmi.nl/knmi/map/current/weather/forecast/kaart_verwachtingen_Morgen_dag.gif" width="425"  height="445">
                        </center>
                    </div>
                    <div data-role="collapsible">
                        <h3>Weer in Europa</h3>
                        <center>
                            <img src="http://www.dwd.de/DE/wetter/wetter_weltweit/europa/bildgalerie/wetter_aktuell.jpg?view=nasImage&nn=453604" width="500" height="400">
                        </center>
                    </div>
                </div>
            </div>
            <!-- /content -->
        </div>
        <!-- /page Kaarten -->
    </div>

</body>

</html>
