<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Loxone Weather</title>
    <meta name="viewport" content="width=600, initial-scale=1">
    <link rel="stylesheet" href="<!--$webpath-->/jquery/themes/LoxoneClassic.min.css" />
    <link rel="stylesheet" href="<!--$webpath-->/jquery/themes/jquery.mobile.icons.min.css" />
    <link rel="stylesheet" href="<!--$webpath-->/jquery/css/jquery.mobile.structure-1.4.5.min.css" /> 
    <script src="<!--$webpath-->/jquery/js/jquery-1.12.4.min.js"></script>
    <script src="<!--$webpath-->/jquery/js/jquery.mobile-1.4.5.min.js"></script>
</head>
<body>

<!-- Start of first page: #current -->
<div data-role="page" id="start">
	<div data-role="header">
		<div data-role="navbar">
			<ul>
			<li><a href="<!--$themeurlmain-->"  data-transition="slide" style="font-size: 1em; line-height: 1.5em">Current</a></li>
			<li><a href="<!--$themeurldfc-->" data-transition="slide" style="font-size: 1em; line-height: 1.5em">4 Days</a></li>
			<li><a href="<!--$themeurlhfc-->" data-transition="slide" style="font-size: 1em; line-height: 1.5em">36 Hours</a></li>
			<li><a href="#start" class="ui-btn-active ui-state-persist" style="font-size: 1em; line-height: 1.5em">Maps</a></li>
			</ul>
		</div><!-- /navbar -->
	</div><!-- /header -->

	<div role="main" class="ui-content">
	<div class="ui-body ui-body-a ui-corner-all">
		<div data-role="collapsible-set" data-collapsed-icon="arrow-r" data-expanded-icon="arrow-d">
		<div data-role="collapsible" data-collapsed="false">
			<h3>Germany Current</h3>
			<center>
                        <img src="http://www.dwd.de/DE/wetter/wetterundklima_vorort/_functions/bildgalerie/wetter_aktuell.jpg?view=nasImage&nn=561906" width="500" height="463">
			</center>
		</div>
		<div data-role="collapsible">
			<h3>Germany Rain radar</h3>
			<center>
                        <img src="http://www.dwd.de/DWD/wetter/radar/radfilm_brd_akt.gif" width="500" height="463">
			</center>
		</div>
		<div data-role="collapsible">
			<h3>Germany Forecast Tomorrow</h3>
			<center>
                        <img src="http://www.dwd.de/DWD/wetter/wv_allg/deutschland/bilder/vhs_brd_morgenfrueh.jpg" width="500" height="463">
			<br><br>
                        <img src="http://www.dwd.de/DWD/wetter/wv_allg/deutschland/bilder/vhs_brd_morgenspaet.jpg" width="500" height="463">
			</center>
		</div>
		<div data-role="collapsible">
			<h3>Europe Weather</h3>
			<center>
                        <img src="http://www.dwd.de/DE/wetter/wetter_weltweit/europa/bildgalerie/wetter_aktuell.jpg?view=nasImage&nn=453604" width="500" height="400">
			</center>
		</div>
		</div>
	</div>

	</div><!-- /content -->

</div><!-- /page map -->

</body>
</html>
